@import "../sass/fonts";

@include font-face("ProductSans", "../../fonts/ProductSansRegular/ProductSansRegular", 400, normal, eot woff ttf);
@include font-face("ProductSans", "../../fonts/ProductSansBold/ProductSansBold", 800, normal, eot woff ttf);

$color-light: #bbb;
$color-white: #fff;
$color-black: #000;
$color-chat: #635DF9;
$color-gray: #f8f8f8;
$color-blue: #625cf9;
$color-button-blue: radial-gradient(circle at center, #655fff 0%, #4945bb 100%);
$color-wide-card: radial-gradient(50% 100%, #655fff 0%, #4945bb 100%);
$color-ampersand: linear-gradient(#625cf9, #0F0E26);

$product: "ProductSans", sans-serif;


