.main-banner {
  background: url(./img/main-banner-bg@2x.jpg) center center no-repeat / cover;
  height: 750px;
  padding: 56px 87px;
  margin: 0px;
  position: relative;
}

@keyframes star {
  0% {opacity: 0.8;}
  100% {opacity: 0.2;}
}

.star {
  position: absolute;
  transition: transform 1s, opacity 1s;
  animation: star 1s ease-in-out infinite alternate-reverse;
}

.star-secondary {
  animation: star 1s ease-out .5s infinite alternate-reverse;
}

.star:hover {
  transform: rotate(180deg)
}

.star1 {
  bottom: 20%;
  left: 24%;
}

.star2 {
  top: 30%;
  right: 31%;
}

.star3 {
  top: 5%;
  left: 44%;
}

.star4 {
  bottom: 10%;
  right: 41%;
}

.star5 {
  top: 20%;
  left: 20%;
}

.star6 {
  top: 25%;
  right: 14%;
}

.star7 {
  bottom: 44%;
  right: 44%;
}

.star8 {
  bottom: 20%;
  right: 24%;
}

.ring {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes big-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.ring img {
  animation: big-spin 120s linear infinite;
}

header {
  line-height: 150px;
  height: 150px;
  color: aliceblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 150px;
}

header a {
  color: aliceblue;
  font-size: 30px;
  text-decoration: none;
}