*{
  box-sizing: border-box;
}

html{
  width: 100%;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "product-sans-regular",sans-serif;
  font-weight: normal;
  background: #fff;
  text-align: center;
  color: #bbb;
}

.container {
  height: 100vh;
  text-align: center;
}