.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color:#214261;
  margin-top: 32px;
}

.social__follow {
  padding: 60px;
  background: #dbbd7f url(./img/follow-bg.png) center center no-repeat / cover;
  text-align: left;
  width: 30%;
  margin-right: 16px;
  font-family: Raleway, sans-serif;
}

.social__follow h4 {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-size: 23px;
}

.social__follow ul {
  list-style-type: none;
  padding-left: 50px;
}

.social__follow ul li {
  padding: 7px;
}

.social__link {
  text-decoration: none;
  color: #214261;
  font-size: 23px;
}

.social__link:hover {
  color: #fff;
  text-decoration: underline; 
  /* TODO: bug: underline doesn't disappear on mouse out */
}

.social__describe {
  padding: 60px;
  background: url(./img/featured-text@2x.jpg) center center no-repeat / cover;
  color: #fff;
  margin-left: 16px;
  font-size: 27px;
  width: 70%;
  font-weight: bold;
  text-align: left;
  display: flex;
  align-items: center;
  line-height: 41px;
}

.social__describe_link {
  color: #dbbd7f;
  text-decoration: none;
}

.social__describe_link:hover {
  color: #fff;
  text-decoration: underline;
}